@using LMS.Blazor.Client.Models
@using LMS.Blazor.Client.Services
@using LMS.Blazor.Client.Shared.Components
@using LMS.Shared.DTOs.ModuleDtos
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json

@page "/courses/{courseId:int}/modules"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Moduler</PageTitle>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        Fel: @errorMessage
    </div>
}
else if (isLoading)
{
    <p>Laddar moduler...</p>
}
else
{
    <AuthorizeView Context="authContext">
        <Section Title="@($"Moduler från kurse: {Course?.Name}  ({Course?.Starts.ToString("yyyy-MM-dd")} - {Course?.Ends.ToString("yyyy-MM-dd")})")"
                 Icon="@(builder => builder.AddMarkupContent(0, "<i class='bi bi-journal-code'></i>"))"
                 HeaderActions="@(authContext.User.IsInRole("Teacher")
                                                            ? (builder => builder.AddMarkupContent(0, $"<a href='/courses/{courseId}/modules/create' class='btn btn-primary'>+ Skapa modul</a>"))
                                               : null)">
        <ModuleComponent courseId="@courseId" />

        </Section>
    </AuthorizeView>
}

@code {
    [Parameter]
    public int courseId { get; set; }
    private string? errorMessage;
    private bool isLoading { get; set; } = true;
    private CourseDto? Course {get;set;} = new();
    [Inject] private CourseStateService _courseState { get; set; } = default!;

    [Inject] private IApiService _apiService { get; set; } = default!;
    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        try
        {
            await ApiCallResult();
        }
        finally
        {
            isLoading = false;
        }
    }
    private async Task<Result<CourseDto>> ApiCall()
    {

        try
        {
            var response = await _apiService.CallApiAsync<CourseDto>($"api/courses/{courseId}");
            return Result<CourseDto>.Ok(response);
        }
        catch (Exception ex)
        {
            try
            {
                using var doc = JsonDocument.Parse(ex.Message);
                var detail = doc.RootElement.GetProperty("detail").GetString();
                return Result<CourseDto>.Fail(detail ?? "An error occurred.");
            }
            catch
            {
                return Result<CourseDto>.Fail("An error occurred.");
            }
        }
    }
    private async Task ApiCallResult()
    {
        errorMessage = null;
        var result = await ApiCall();
        if (result.Success)
        {
            Course = result.Data;
            _courseState.Course = Course;
        }
        else
        {
            errorMessage = result.ErrorMessage;
        }
    }
}
