@using LMS.Blazor.Client.Models
@using LMS.Shared.DTOs.ModuleDtos
@using LMS.Blazor.Client.Shared.Components
@using LMS.Shared.Helpers
@using System.Text.Json


@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        Fel: @errorMessage
    </div>
}
else if (isLoading)
{
    <p>Laddar moduler...</p>
}
else
{
<div class="container-fluid">
                <div class="row">
                    <div class="col p-4">
                        <div class="row g-3">
                            <div class="col-12">
                                <Section>
                                    <ul class="list-unstyled mb-0">
                                        @if (modules?.Count == 0)
                                        {
                                            <p>Denna kurs har inga moduler...</p>
                                        }
                                        else
                                        {
                                            @foreach (var module in modules!)
                                            {
                                                var activityCount = module.Activities?.Count() ?? 0;
                                                <div class="d-flex w-100">
                                                    
                                                        
                                                        <ModuleRow 
                                                            
                                                            
                                                            Sub="@($"{activityCount} Aktiviteter")"
                                                            MenuContentSecondary="@ModuleInfo(module)"
                                                            MenuContent="@ModuleMenu(module)"
                                                            
                                                        >
                                                        
                                                            <Icon><i class="bi bi-cpu"></i></Icon>
                                                    <Title>
                                                        <NavLink href="@($"/courses/{CourseId}/modules/{module.Id}/activities")" Match="@NavLinkMatch.All">
                                                            @module.Name (@module.StartsAt:d - @module.EndsAt:d)
                                                        </NavLink>
                                                    </Title>
                                                            <Suffix><DateBadge Start="@module.StartsAt" End="@module.EndsAt" /></Suffix>
                                                            
                                                        </ModuleRow>
                                                        
                                                    
                                        </div>
                                    }
                                }
                            </ul>
                        </Section>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@code {
    private RenderFragment ModuleMenu(ModuleDto module) => __builder =>
    {
        <AuthorizeView Roles="Teacher">
            <div class="dropstart dropup flex-shrink-0" style="width:5%">
                <button class="btn btn-link w-100" data-bs-toggle="dropdown">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="manage-actions dropdown-menu" data-popper-placement="left-start">
                    <!-- Edit -->
                    <button class="dropdown-item btn btn-link" @onclick="() => Edit(module)">
                        <i class="bi bi-pencil-square"></i> Redigera
                    </button>

                    <!-- Delete -->
                    <button class="dropdown-item btn btn-link text-danger" @onclick="() => Delete()">
                        <i class="bi bi-trash"></i> Ta bort
                    </button>
                </ul>
            </div>
        </AuthorizeView>

    };

    // track which module's info is expanded
    private HashSet<int> expandedModules = new();

    private RenderFragment ModuleInfo(ModuleDto module) => __builder =>
    {
        <div>
            <button class="btn btn-link"
                    @onclick="() => ToggleModuleInfo(module.Id)">
                @(expandedModules.Contains(module.Id) ? "Dölj" : "Visa mer")
            </button>

            @if (expandedModules.Contains(module.Id))
            {
                <ModuleDescription Module="@module" />
            }
        </div>
;
    };

    private void ToggleModuleInfo(int moduleId)
    {
        if (expandedModules.Contains(moduleId))
            expandedModules.Remove(moduleId);
        else
            expandedModules.Add(moduleId);
    }
}
