@page "/courses/{courseId:int}/modules/{moduleId:int}/activities"

@attribute [Authorize(Roles = "Student,Teacher")]

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Aktiviteter i Modul: @module.Name</PageTitle>

@if(module is not null)
{
    <h3>Aktiviteter i Modul: @module.Name</h3>
}

@if (activities == null)
{
    <Spinner EntityName="aktiviteter"/>
}
else
{
    <Section Title="Schema">
        <HeaderActions>
            <div class="lms-row-actions row">
                <div class=" d-md-flex align-items-center col-md-auto column-gap-3 px-3">
                    <input type="search" class="form-control border border-secondary" placeholder="Söka på namn..." @bind="filterText" @onkeydown="HandleKeyDown" />
                    @if (activityTypes != null && activityTypes.Any())
                    {
                    <div class="lms_filter">
                            <select class="form-select border border-secondary" @onchange="OnActivityTypeChanged">
                            <option value="0">Alla aktivitetstyper</option>
                            @foreach (var type in activityTypes)
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        </select>
                    </div>
                    }
                </div>
                <div class="d-md-flex align-items-center col-md-auto ms-auto mt-1 px-3">
                    <AuthorizeView Context="authContext" Roles="Teacher">
                        <Authorized>
                            <NavLink class="btn btn-primary" href="@($"/courses/{courseId}/modules/{moduleId}/activities/createactivity")">
                                <i class="bi bi-plus me-2"></i> Skapa ny aktivitet
                            </NavLink>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </HeaderActions>
        <ChildContent>
            <h4 class="mt-4">Kommande aktiviteter</h4>
            @if (upcomingActivities.Any())
            {
                <div class="accordion" id="upcomingActivitiesAccordion">
                    @foreach (var dateGroup in upcomingActivities.GroupBy(a => a.StartsAt.Date))
                    {
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="@($"heading-{dateGroup.Key:yyyyMMdd}")">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@($"#collapse-{dateGroup.Key:yyyyMMdd}")" aria-expanded="false" aria-controls="@($"collapse-{dateGroup.Key:yyyyMMdd}")">
                                @dateGroup.Key.ToString("dd MMMM yyyy")
                            </button>
                        </h4>
                        <div id="@($"collapse-{dateGroup.Key:yyyyMMdd}")" class="accordion-collapse collapse @(IsFirstUpcoming(dateGroup.Key) ? "show" : "")" aria-labelledby="@($"heading-{dateGroup.Key:yyyyMMdd}")">
                            <div class="accordion-body activity-grid">
                                @foreach (var activity in dateGroup.OrderBy(a => a.StartsAt))
                                {
                                   var bodyFragment = (activity.Documents.Any())
                                        ? $"<i class='bi bi-file-earmark-text'></i><p>{activity.Documents.Count()} dokument</p>"
                                        : "<i class='bi bi-file-earmark-x'></i><p>Inga dokument</p>";     
                       
                                <CardItemLarge CssColor="@GetCssColorForActivityType(activity.ActivityType?.Id)"
                                                Title="@activity.Name"
                                                BodyText="@activity.Description"
                                                TopInfoText="@activity.ActivityType?.Name"
                                                TopInfoFragment="@(builder => builder.AddMarkupContent(0, @$"<span>{activity.StartsAt.ToString("HH:mm")} - {activity.EndsAt.ToString("HH:mm")}</span>"))"
                                                BodyFragment="@(builder => builder.AddMarkupContent(0, @$"{bodyFragment}"))">
                                    <Actions>
                                        <div class="card-actions">
                                            <NavLink class="card-link btn btn-link " href="@($"/module/{moduleId}/activity/{activity.Id}")">
                                                Gå till aktivitet
                                            </NavLink>

                                            <AuthorizeView Context="authContext" Roles="Teacher">
                                                <Authorized>
                                                    <div class="dropstart dropup">
                                                        <button class="btn p-0 me-1" type="button" id="cardOpt5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="bi bi-three-dots-vertical"></i>
                                                        </button>
                                                        <div class="manage-actions dropdown-menu" aria-labelledby="cardOpt5">
                                                                    <NavLink class="dropdown-item btn btn-link" href="@($"/courses/{courseId}/modules/{moduleId}/activities/editactivity/{activity.Id}")">
                                                                <i class="bi bi-pencil-square"></i> Redigera
                                                            </NavLink>
                                                            <button class="dropdown-item btn btn-link" @onclick="() => DeleteActivity(activity.Id)">
                                                                <i class="bi bi-trash"></i> Ta bort
                                                            </button>
                                                        </div>
                                                    </div>
                                                </Authorized>
                                            </AuthorizeView>
                                        </div>
                                    </Actions>
                                </CardItemLarge>
                                }
                            </div>
                        </div>
                    </div>
                    }
                </div>
            }
            else
            {
                <p>Det finns inga kommande aktiviteter.</p>
            }
            @if(pastActivities.Any())
            {
                <hr class="section-divider" />
                <h4 class="mt-4">Passerade aktiviteter</h4>
                <div class="accordion" id="pastActivitiesAccordion">
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="heading-past">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-past" aria-expanded="false" aria-controls="collapse-past">
                                Visa passerade aktiviteter (@pastActivities.Count())
                            </button>
                        </h4>
                        <div id="collapse-past" class="accordion-collapse collapse" aria-labelledby="heading-past" data-bs-parent="#pastActivitiesAccordion">
                            <div class="accordion-body">
                                @foreach (var dateGroup in pastActivities.GroupBy(a => a.StartsAt.Date).OrderByDescending(g => g.Key))
                                {
                                <div class="schedule-day-container">
                                    <h5 class="schedule-date mb-3 mt-5">@dateGroup.Key.ToString("dd MMMM yyyy")</h5>
                                    <div class="activity-grid row">
                                    @foreach (var activity in dateGroup.OrderBy(a => a.StartsAt))
                                    {
                                        var bodyFragment = (activity.Documents.Any())
                                            ? $"<i class='bi bi-file-earmark-text'></i><p>{activity.Documents.Count()} dokument</p>"
                                            : "<i class='bi bi-file-earmark-x'></i><p>Inga dokument</p>";
                                        <CardItemLarge CssColor="@GetCssColorForActivityType(activity.ActivityType?.Id)"
                                                        Title="@activity.Name"
                                                        BodyText="@activity.Description"
                                                        TopInfoText="@activity.ActivityType?.Name"
                                                        TopInfoFragment="@(builder => builder.AddMarkupContent(0, @$"<span>{activity.StartsAt.ToString("HH:mm")} - {activity.EndsAt.ToString("HH:mm")}</span>"))"
                                                        BodyFragment="@(builder => builder.AddMarkupContent(0, @$"{bodyFragment}"))">
                                            <Actions>
                                                <div class="card-actions">
                                                            <NavLink class="card-link btn btn-link " href="@($"/module/{moduleId}/activity/{activity.Id}")">
                                                        Gå till aktivitet
                                                    </NavLink>
                                                       
                                                    <AuthorizeView Context="authContext" Roles="Teacher">
                                                        <Authorized>
                                                                    <div class="dropstart dropup">
                                                                <button class="btn p-0 me-1" type="button" id="cardOpt5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="bi bi-three-dots-vertical"></i>
                                                                </button>
                                                                        <div class="manage-actions dropdown-menu" aria-labelledby="cardOpt5">
                                                                            <NavLink class="dropdown-item btn btn-link" href="@($"/courses/{courseId}/modules/{moduleId}/activities/editactivity/{activity.Id}")">
                                                                        <i class="bi bi-pencil-square"></i> Redigera
                                                                    </NavLink>
                                                                            <button class="dropdown-item btn btn-link" @onclick="() => DeleteActivity(activity.Id)">
                                                                        <i class="bi bi-trash"></i> Ta bort
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </Authorized>
                                                    </AuthorizeView>
                                                    </div>
                                            </Actions>
                                        </CardItemLarge>
                                        }
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </ChildContent>
    </Section>
}